.account-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.account-form::before {
  content: "";
  width: 95%;
  height: 1px;
  border-bottom: 1px solid black;
  margin-top: 10px;
  margin-bottom: 20px;
}

.account-form-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.biography-label {
  font-size: 16px;
  margin-bottom: 4px;
}

.account-label {
  margin-left: 6px;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn {
  border: none;
  color: black;
  background-color: teal;
  padding: 8px 20px;
  border-radius: 5px;
  font-size: 14px;
}

.upload-btn i {
  margin-right: 5px;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 36px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.account-input {
  height: 36px;
  width: 80vw;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding-left: 10px;
}

.account-form textarea {
  height: 72px;
  width: 80vw;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding-left: 10px;
  resize: none;
}

.account-btn {
  height: 36px;
  width: 80vw;
  border: none;
  border-radius: 5px;
  background-color: teal;
  font-size: 14px;
}
