.upload-btn {
  display: flex;
}

.create-post-upload-icon {
  width: 18px;
  margin-right: 3px;
}

.create-post-label {
  font-size: 18px;
  font-weight: 500;
  margin: 10px;
}

.create-post-textarea {
  height: 72px;
  width: 80vw;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding-left: 10px;
  resize: none;
}

.create-post-button {
  height: 36px;
  width: 80vw;
  border: none;
  border-radius: 5px;
  background-color: #3f729b;
  color: white;
  font-size: 18px;
  align-self: center;
}

@media (min-width: 768px) {
  .create-post-form {
    margin-top: 40px;
  }

  .upload-btn-wrapper {
    align-self: flex-start;
    margin-left: 5px;
  }

  .create-post-textarea {
    width: 60vw;
  }

  .create-post-button {
    width: 60vw;
  }
}

@media (min-width: 1025px) {
}
