.edit-post-header {
  margin: 10px;
}

.edit-post-form {
  display: flex;
}

.edit-post-form::after {
  content: "";
  width: 95%;
  height: 1px;
  border-bottom: 1px solid #d4d4d4;
  margin-top: 10px;
  margin-bottom: 20px;
}

.edit-post-img-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.edit-post-img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.edit-post-upload-icon {
  width: 18px;
  margin-right: 3px;
}

.edit-post-textarea {
  height: 72px;
  width: 80vw;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding-left: 10px;
  resize: none;
}

.edit-post-btn {
  height: 36px;
  width: 80vw;
  border: none;
  border-radius: 5px;
  background-color: #3f729b;
  color: white;
  font-size: 18px;
}

.edit-post-form input {
  height: 36px;
  width: 80vw;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding-left: 10px;
}

.edit-post-label {
  display: flex;
  align-self: center;
  font-weight: 500;
  font-size: 18px;
  margin: 5px;
}

@media (min-width: 768px) {
  .edit-post-form label,
  .edit-post-form input,
  .edit-post-img-form,
  .edit-post-textarea,
  .edit-post-label,
  .edit-post-input,
  .edit-post-btn,
  .edit-post-img {
    width: 60vw;
  }

  .delete-post-form h2 {
    margin-top: 15px;
    margin-bottom: 20px;
  }
}

@media (min-width: 1025px) {
}
