.create-new-post-wrapper {
  margin: 10px;
}

.create-post-btn {
  height: 36px;
  width: 80vw;
  border: none;
  border-radius: 5px;
  background-color: #3f729b;
  color: white;
  font-size: 18px;
}

.feed-post-article {
  width: 100%;
  margin-top: 20px;
  border-radius: 5px;
}

.feed-post-article::after {
  content: "";
  width: 90%;
  height: 1px;
  border-bottom: 1px solid #d4d4d4;
  margin-top: 20px;
}

.post-creator {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 8px;
}

.post-profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.post-username {
  font-size: 20px;
  margin-left: 5px;
}

.post-creator a {
  text-decoration: none;
}

.post-creator-edit-link {
  width: 25px;
  margin-left: auto;
}

.link-edit-post {
  width: 25px;
  margin-left: 5px;
  margin-top: 5px;
}

.post-content {
  width: 100%;
}

.post-content img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.post-content p {
  font-size: 18px;
  font-weight: 500;
  padding: 3px;
}

.like-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
}

.post-likes {
  display: flex;
}

.post-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.unlike-img {
  width: 30px;
  height: 30px;
  background-image: url("/icons/empty-heart.svg");
  background-repeat: no-repeat;
}

.like-img {
  width: 30px;
  height: 30px;
  background-image: url("/icons/filled-heart.svg");
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .create-post-btn {
    width: 50vw;
  }
}

@media (min-width: 1025px) {
}
