.instaglam-header {
  margin: 20px;
  font-family: "Petit Formal Script", cursive;
  font-size: 40px;
}

.login-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login-form label {
  font-size: 18px;
  font-weight: 500;
  margin-left: 6px;
}

.login-form input {
  height: 36px;
  width: 80vw;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding-left: 10px;
}

.login-btn {
  height: 36px;
  width: 80vw;
  border: none;
  border-radius: 5px;
  background-color: #3f729b;
  color: white;
  font-size: 18px;
}

.sign-up-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  font-size: 18px;
}

.sign-up-container a {
  text-decoration: none;
}

.sign-up-link {
  font-weight: 800;
}

@media (min-width: 768px) {
  .login-form input,
  label {
    width: 60vw;
  }

  .login-btn {
    width: 60vw;
  }
}

@media (min-width: 1025px) {
  .login-form input,
  .login-form label {
    width: 40vw;
  }

  .login-btn {
    width: 40vw;
  }
}
