.registration-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.registration-form label {
  font-size: 18px;
  font-weight: 500;
  margin-left: 6px;
}

.registration-form input {
  height: 36px;
  width: 80vw;
  border: 1px solid #d4d4d4;
  border-radius: 3px;
  padding-left: 10px;
}

.sign-up-btn {
  height: 36px;
  width: 80vw;
  border: none;
  border-radius: 5px;
  background-color: #3f729b;
  color: white;
  font-size: 18px;
}

.login-link-container {
  display: flex;
  align-items: center;
  margin: 20px;
  font-size: 18px;
}

.login-link-container a,
p {
  text-decoration: none;
  margin: 2px;
}

.login-link {
  font-weight: 800;
}

@media (min-width: 768px) {
  .registration-form input,
  label {
    width: 60vw;
  }

  .sign-up-btn {
    width: 60vw;
  }
}

@media (min-width: 1025px) {
}
